{% extends 'layout.html' %}

{% block content %}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
    <p>Вопрос: {{ question.q_text }}</p>
    <form action="" method="post">
        <ul class="profile-info">
            {% for answ in question.answers %}
            <li>
                <div>
                    <input type="radio" value={{answ.id}} name="answer_id">
                    <label>{{ answ.a_text }}</label>
                </div>
            </li>
            {% endfor %}
        </ul>
        <input type="submit" value="Ответить" />
    </form>
{% endblock %}